/*############################################################*/
/* Global settings */

:root {
    --color-text: #ffffff;

    --main-light-blue: #004Aff; /* #0048f8 */
    --main-medium-blue: #042073;
    --main-dark-blue: #020024;

    --animation-top-light-dark:
    --animation-top-dark-light: 
    --animation-top-dark-medium:  
    --animation-bottom-light-dark:
}

* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--color-text);

    overflow-x: hidden;

    /*From: https://cssgradient.io/ */
    background: 
    linear-gradient(180deg, var(--main-dark-blue) 0%, 
                            var(--main-medium-blue) 89%,
                            var(--main-light-blue) 100%);  
}

.container-fluid {
    padding: 0 !important;
}

/* Stylowanie paska przewijania */
::-webkit-scrollbar {
    width: 10px; 
}
  
  /* Stylowanie paska przewijania w pionie */
::-webkit-scrollbar-thumb {
    background-color: var(--main-light-blue); 
    border-radius: 20px; 
}
  
/* Stylowanie tła paska przewijania */
::-webkit-scrollbar-track {
    background-color: var(--main-dark-blue); 
}

/*############################################################*/
/* Navigation*/
/* .switch
{
    border: 5px solid var(--main-medium-blue);
} */

.navbar-toggler {
    flex-direction: column;
    width: 60px !important;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    border: none !important;
    outline: none !important;
}

.line:first-child {
    margin-top: 5px;
}

.line {
    width: 25px;
    height: 1px;
    margin-bottom: 5px;

    background-color: var(--main-dark-blue);

    padding: 5px 15px 5px 15px;
}

@media (max-width: 1200px) {
    .navbar { 
        background: 
        linear-gradient(to bottom, var(--main-light-blue), var(--main-dark-blue));
    }

    .nav-item {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 2px;
    
        text-align: center;
    }
    
    .navBox-bg {
        background: var(--main-light-blue);
    }
    
    .nav-link {
        font-weight: 700;
        color: white;
        letter-spacing: 2px;
    
        border: 4px solid var(--main-light-blue);
        border-radius: 50px;
    
        transition: all .5s ease-in-out;
    }
}

#navMenu {
    max-width: 1400px;
}

.navbar {
    padding: 0 !important;
    transition: all 2s ease-in-out;
}

.nav-item {
    width: 150px;
    margin-right: 10px;
    padding: 2px;

    text-align: center;
}

.navBox-bg {
    background: var(--main-light-blue);
}

.nav-link {
    font-weight: 700;
    color: white;
    letter-spacing: 2px;

    border: 4px solid var(--main-light-blue);
    border-radius: 50px;

    transition: all .5s ease-in-out;
}

.nav-link:hover {   
    background-color: var(--main-light-blue);
    border: 4px solid var(--main-dark-blue);
    color: var(--main-dark-blue);
        
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}   

.navbar-toggler {
    width: 50px;

    background-color: var(--main-light-blue);
    border: 5px solid var(--main-dark-blue);
    border-radius: 15px;

    transition: all .3s ease-in-out;
}
/*############################################################*/
/*############################################################*/
/*############################################################*/
/* CSS HOME PAGE */

/* Boxes on page */
#mainBox {
    width: 1200px;
}

/* Settings margin / boxes on page */
.firstMargin {
    margin-top: 25px !important;
}
.margin {
    margin-top: 150px;
    margin-bottom: 200px;
}
#lastMargin {
    margin-top: 300px !important;
    margin-bottom: 200px !important;
}


/* Logo div */

#colAvatar {
    align-items: flex-end !important;
}

@media (max-width: 1200px) { 
    #colAvatar {
        flex-direction: column !important;
        align-items: center !important;
    }
}

#avatar {
    width: 200px;
    height: 200px;

    padding: 2px;
    
}

#logoPNG {
    height: inherit;
    width: inherit;

    border-radius: 50%;
}

h1 {
    display: inline-block;

    margin-bottom: 0;

    font-size: 42px;
    letter-spacing: 2px;
}

h1 > a {
    width: 100%;
    height: 100%;

    margin-top: 15px;

    display: inline-block;

    font-weight: 700;
    color: var(--color-text);

    border-bottom: 3px solid var(--color-text);
	text-decoration: none;
    cursor: pointer;

    transition: all 0.5s ease-in-out;
    animation: MyAnim 2s infinite;
}

h1 > a:hover {
    font-weight: 700;

    border-bottom: 3px solid var(--main-light-blue);
    text-decoration: none;
    
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/*############################################################*/
/* Second Section */

/* Left box */
#welcomeYou {
    max-width: 650px;
}
  
#profession {
 
    text-align: center;

    font-size: 54px;
    font-weight: 900;
    letter-spacing: 1px;
    
    margin-bottom: 40px;
}

h2 > span {
    color: var(--main-light-blue);
}

#infoPage {
    margin-left: 30px;
    margin-right: 30px;

    line-height: 200%;
    font-size: 18px;
    letter-spacing: 1px;
    
    text-align: justify;
}

/* Rigth box */
#coddingTimer {
    height: 330px;
    width: 450px;

    border-radius: 50px;
    background-color: var(--main-light-blue);

    position: relative;
}
 
#divFrame {
    width: 95%;
    height: 95%;

    display: flex;
    flex-direction: column;

    position: absolute;
    top:  8px;
    left: 12px;

    border-radius: 50px;

    background: 
    linear-gradient(to top, var(--main-dark-blue), var(--main-medium-blue));
     /* https://cssgenerator.pl/box-shadow-generator/ */
    -webkit-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    box-shadow: 0px 0px 100px -10px var(--main-light-blue);

    transition: all 0.5s ease-in-out;
}

#divFrame:hover {
    transform: scale(0.95);
}

#coddingTitle {
    width: 100%;
    margin-top: 20px;
}

#coddingTitle > h2 {
    margin-left: 30px;

    font-size: 20px;
    font-weight: 650;
    letter-spacing: 2px;
}

#coddingList {
    height: 100%;
    margin-top: 25px;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    list-style: none;
}

#coddingList > li {

    width: 180px;
    height: 80px;
    padding: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--main-dark-blue);

    border-radius: 25px;
    background-color: var(--main-light-blue);
}

#coddingList > li > p {
    margin: 0;
    margin-top: 5px;
    height: 20px;

    color: var(--color-text);
    font-weight: 400;
    font-size: 14px;

    opacity: 0.6;
}

#coddingBackground {
    width: 100%;
    height: 100%;

    position: relative;
}

/* ################################################## */
/*Second Section*/

#ContainerBG {   
    
    background: 
    linear-gradient(to top, var(--main-dark-blue), var(--main-medium-blue));
     /* https://cssgenerator.pl/box-shadow-generator/ */
     -webkit-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
     -moz-box-shadow: 0px 0px 100px -10px var(--main-light-blue);

     box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    /* dodac moze shadowBox */
}

.level {
    width: 300px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    letter-spacing: 2px;

    background-color: 
    linear-gradient(to top, var(--main-dark-blue), var(--color-text));

    border: 5px solid var(--main-light-blue);
    border-radius: 50px;
}

.level > p {
    display: inline-block;
    margin: 0;

    font-weight: 650;
}

#frontend, #backend, #fullstack {
    position: relative;
}

.loading {
    width: 10px;
    height: 15px;
    margin-top: 85px;

    background-color: var(--main-light-blue);

    position: absolute;
    left: 0;
    top: 80px;

    animation: fillAnimation 10s infinite;
  }

@keyframes fillAnimation {
    0% {
        width: 0;
        filter: brightness(75%);
        opacity: 0.5;
    }
    25% {
        filter: brightness(100%);
        opacity: 1;
    }
    50% {
        filter: brightness(125%);
        box-shadow:0 0 10px var(--main-light-blue);
        opacity: 1;
    }
    75% {
        filter: brightness(150%);
        box-shadow:0 0 15px var(--main-light-blue);
        opacity: 1;
    }
    100% {
        width: 100%;
        filter: brightness(175%);
        box-shadow:0 0 20px var(--main-light-blue);
        opacity: 0;
    }
}

/* ################################################## */
/* Third Section*/
/*
#settingsExperienceDiv
{   
    height: 150px;
}

@media (max-width: 1100px)
{
    #settingsExperienceDiv
    {
        max-width: 650px !important;
    }
}

*/

#skillsDiv {
    width: 600px;
}

@media (min-width: 1200px) {
    #skillsDiv { width: 100%; }
}

@media (max-width: 600px) {
    #skillsDiv { width: 100%; }
}

#titleProjects {
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
}

#linkProjects {
    text-align: center;

    opacity: 0.6;   
}

#linkProjects > a {
    font-weight: 700;

    margin-left: 5px;

    color: var(--main-light-blue);
    text-decoration: none;
    
    opacity: 1 !important;

    transition: all 0.5s ease-in-out;
}

#linkProjects > a:hover {
   opacity: 0.5 !important;
}

.skills {
    display: flex;
    flex-direction: column;

    background-color: transparent;
    border-radius: 50px;
    border: solid 5px var(--main-light-blue);

    transition: transform 0.5s ease-in-out,
                box-shadow 0.3s ease-in-out
}

.skills:hover {
    transform: scale(0.95);

    box-shadow:0 0 50px var(--main-medium-blue);
}

.nameTag {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0;
    padding: 0;

    list-style: none;
}

.skillsList li {
    width: 150px; 
    margin-bottom: 20px;

    text-align: center;
    font-size: 18px;
    padding: 15px;
    
    border-radius: 100px;
    border: 3px solid var(--main-light-blue);

    background: 
    linear-gradient(to top, var(--main-dark-blue), var(--main-light-blue));
}

#ulTools {
    justify-content: center !important;
}       

#ulTools li {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.impostor
{
    width: 1px !important;
    opacity: 0;
    margin: 0 !important;
}

.learning {
    position: relative;
    overflow: hidden;
}   

.learning:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    background: 
    linear-gradient(to right, transparent, var(--main-light-blue));

    animation: progresAnimation 4s linear infinite;
} 
  
@keyframes progresAnimation {
    0% { left: -100%; }
    100% { left: 100%; }
}

@media (min-width: 1400px) {
    #tools
    { width: 100% !important; }   
}

@media (max-width: 1400px) {
    .skills
    { width: 480px !important; }

    #ulTools {
        margin-bottom: 20px;
    }

    .skillsList > li { width: 200px !important; }
}

/*Notactive divs*/
.blocked
{
    opacity: 0.2;
}

/* ################################################## */
/* Fourth Section*/

/* Left box */
#divCitation{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 450px;
    height: 200px;

    font-size: 18px;
    font-weight: 600;

    border-radius: 50px;

    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-dark-blue));

    /* https://cssgenerator.pl/box-shadow-generator/ */
    -webkit-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    box-shadow: 0px 0px 100px -10px var(--main-light-blue);

    position: relative;
}

#divCitation > a {
    width: 100%;

    text-align: center;
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: 2px;

    transition: all 0.5s ease-in-out ;
}

#divCitation > a:hover {
    opacity: 0.5;

    transform: scale(0.99);
}

#divCitation a > p > span {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}

#author {
    margin-left: 35px;

    letter-spacing: 3px;
    font-size: 16px;

    opacity: 0.5;
}

/* Rigth div */
#divButton {
    width: 250px;

    display: flex;
    flex-direction: column;
    position: relative;
}

#title {   
    width: 100%;
    margin: 0;

    text-align: left;
    font-weight: 700;
}

#infoButton {
    width: 100%;

    line-height: 200%;

    text-align: justify;
    letter-spacing: 2px;
    font-size: 14px;

    opacity: 0.6;
}

#infoButton > span {
    color: var(--main-light-blue);
    font-weight: 700;

    opacity: 1 !important;
}

.button {
    cursor: pointer;

    width: 150px;
    height: 50px;
    
    letter-spacing: 2px;
    font-weight: 600;
    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-dark-blue));
     /* https://cssgenerator.pl/box-shadow-generator/ */
     -webkit-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
     -moz-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
    
    border: 4px solid var(--main-medium-blue);

    border-radius: 100px;
    transition: background-color 0.1s ease-in-out,
                transform 0.5s ease-in-out,
                box-shadow 0.5s ease-in-out,
                border 0.5s ease-in-out,
                color 0.5s ease-in-out;

    position: absolute; 
    top: 70px;
    left: 80px; 
}

.button:hover {
    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-medium-blue));
    border: 4px solid var(--main-dark-blue);
    color: var(--main-dark-blue);
    
    transform: scale(1.05);

}

.button > a {
    color: var(--color-text);

    text-decoration: none;
    text-align: center;
    
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;

    display: inline-block;
    width: 100%;
    height: 100%;

    transition: all 0.1s ease-in-out;
}

.button > a:hover {
    color: var(--main-dark-blue) !important;
    font-weight: 700;;
}

/*############################################################*/
/* Footer */

#footer {
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    margin: 0;

    border-radius: 100px;
    border: 3px solid var(--main-dark-blue);
    
    background: 
    linear-gradient(to bottom, var(--main-light-blue), var(--main-dark-blue));
     /* https://cssgenerator.pl/box-shadow-generator/ */
     -webkit-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
     -moz-box-shadow: 0px 0px 50px -10px var(--main-light-blue);


    transition: all 0.8s ease-in-out;

    animation: loaderAnimation 3s infinite;

}

.socials:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-dark-blue));
}  

@keyframes loaderAnimation {   
    0% { opacity: 1; }
    25% { opacity: 0.8;}
    50% { opacity: 0.6;}
    75% { opacity: 0.8;}
    100% { opacity: 1;}
}

@media (max-width: 1200px) {
    .socials { width: 450px !important; }

    .socials:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
    }

    .page { margin-top: 20px !important; }

    .socialsHelp { justify-content: center !important;}
}

.linkedin {
    margin-right: 20px;
    margin-left: 20px;
}

/*
.linkedin:hover
{
	background-color: rgb(10, 119, 181);

    cursor: pointer;
}

.git:hover
{
	background-color: rgb(36, 41, 46);

    cursor: pointer;
}

.fb:hover
{
	background-color: rgb(59, 89, 152);;

    cursor: pointer;
}

*/

.page {   
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;

    font-size: 18px;
    color: var(--color-text);

    display: inline-block;

	text-decoration: none;
    cursor: pointer;

    transition: all 0.5s ease-in-out;
}
.page:hover {
    text-decoration: none;
    color: var(--color-text);
}

/* Author */
#endDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 0 !important;
    margin: 0 !important;
}

#endDiv > p {
    margin-bottom: 0;
}

#law {
    width: 100%;
    padding: 5px;
    margin-top: 10px;

    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;

    background-color: var(--main-dark-blue);
}

/*############################################################*/
/*############################################################*/
/*############################################################*/
/* CSS for "CV" page */

.cv_print
{
    max-width: 1200px;

    border: 5px solid var(--main-light-blue);
    border-radius: 80px;
    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-dark-blue));
    -webkit-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 100px -10px var(--main-light-blue);
    box-shadow: 0px 0px 100px -10px var(--main-light-blue);

    transform: scale(0.85);
}

.cv_print_background_download
{
    background: var(--color-text);
    color: black !important;
}

.margin_cv {
    margin-top: 100px;
}


/*############################################################*/
/* Add title in Navigation */
#title > h1 {
    font-size: 30px;
    margin-left: 40px;
    letter-spacing: 3px;
}

#title > h1 > a {
    margin: 0;
    font-weight: 700;
    border: none;
}

@media (max-width: 1200px) {
    #title {
        display: none;
    }
}

/*############################################################*/
/*############################################################*/
/* Globall settings */
.main_box {
    width: 95%;
}

.custom_border {
    border-top: 5px solid var(--main-light-blue);
    border-bottom: 5px solid var(--main-light-blue);
}
.custom_border_bottom {
    border-bottom: 5px solid var(--main-light-blue);
}

h2 {
    width: 100% !important;
    font-weight: 700;
    margin-bottom: 20px;
}

li {
    list-style: none;
}
.list_type {
    padding: 5px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1px;
 }

/*############################################################*/
/*############################################################*/
/* First Section - Name/Adress */


/* Left box */
#full_name {

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
}

#full_name > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid  var(--main-light-blue);
}

#full_name > h1 {
    margin-top: 20px;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 650;

}


#adress > ol > li > button {
    width: 75px;
    height: 75px;
    padding: 5px;


    background-color: transparent;
    border-radius: 10px;
    border: 5px solid var(--main-light-blue);

    margin: 20px 10px 20px 0;

    transition: all .6s ease-in-out;

}

#adress > ol > li > button > i {
    color: var(--color-text);
}

#adress > ol > li > button:hover {
    
    transform: scale(0.9);

    background-color: var(--main-light-blue);
    border: 5px solid var(--main-medium-blue);

}

#adress > ol > li > button > i {
    font-size: 35px;
}

/* Rightbox */

#adress > ol {
    padding: 0;
    margin: 0;
}

#adress > ol > li {
    padding: 15px;
}

.contact {

    color: var(--main-light-blue);
    text-decoration: none !important;
    font-weight: 700;

    transition: all .5s ease-in-out;
}
/* .contact:hover {
    transform: scale(1.5);
} */

.icon {
    margin-right: 10px;
}

/*############################################################*/
    /* Third Section - about */

#frontend_developer > p {
    
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 180%;
}

/*############################################################*/
    /* Fourth Section - Skills */


#my_skills > ul > li {
    list-style-type: square;
}

#repository_Button > button {

    width: 300px;
    height: 150px;

    border: 10px solid var(--main-light-blue);
    border-radius: 50px;

    background-color: transparent;
    -webkit-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
    box-shadow: 0px 0px 50px -10px var(--main-light-blue);

    transition: all .5s ease-in-out;
}

#repository_Button > button:hover {
    transform: scale(0.9);
}

#repository_Button >     button > a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

#my_skills > ul > li > span {
    opacity: 0.5;
    font-size: 14px;
}

 .icon_repo {
    font-size: 32px !important;
 }

/*############################################################*/
/* Fiveth Section - Experience */

#work_experience {
    width: 100% !important;
}

.start_work {
    margin-bottom: 0;
    font-size: 16px;
    opacity: 0.7;
}

#jobs > li {
    list-style-type: square;
}

#company{
    letter-spacing: 1px ;
}

#company > span {
    font-weight: 700;
}

#duties > li {
    font-size: 16px;
    list-style: disc;
 }

/*############################################################*/
/* Sixth Section - Languages / Education */


/* Left box */
#education ol > li {
    margin-bottom: 20px;
    list-style: square;
}

#education ol > li > a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

#education ol > li > p:not(:first-child) {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 0;
}

/* Rithg box */

.rigth_box > ol > li {
    list-style-type: square;
    font-weight: 550;
}


/*############################################################*/
/* Seventh Section - interest */

#interest {
    width: 100%;
}

#interest > ol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;

    text-align: center;
    font-weight: 550;
}

@media (max-width: 1200px) {
    #interest > ol {
        flex-direction: column;
    }

    #interest > ol > li {
        margin-bottom: 20px;
        width: 100%;
    }

    #work_experience {
        border-bottom: 5px solid var(--main-light-blue);
    }
}

#interest > ol > li {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background-color: transparent;
    border: 5px solid var(--main-medium-blue);
    border-radius: 50px;

    min-width: 160px;
}

#interest > ol > li > i {
    font-size: 35px;
    margin-right: 10px;
}

/*############################################################*/
/* Eightth Section - Clause */

#clause > p {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 1px;
    opacity: 0.7;
}


/*############################################################*/
/*############################################################*/
/*############################################################*/
/* CSS for "Contact" page */

.contact
{
    max-width: 1400px;
    margin-top: 200px;
}

/*############################################################*/
/* First Section - socials */

.choose_contact {
    text-align: center;
    margin-bottom: 80px;

    color: var(--color-text);
}

.choose_contact > p {
    font-size: 30px;
    font-weight: 650;
    letter-spacing: 3px;
}

.choose_contact > p > span {
    color: var(--main-light-blue);
}

.contact_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;

    margin: 0;

    border-radius: 100px;
    border: 5px solid var(--main-light-blue);
    
    /* background: 
    linear-gradient(to bottom, var(--main-light-blue), var(--main-dark-blue)); */
     
    /* https://cssgenerator.pl/box-shadow-generator/ */
     -webkit-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
     -moz-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
    box-shadow: 0px 0px 50px -10px var(--main-light-blue);

    transition: all 0.8s ease-in-out;
}

.contact_socials:hover {
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);

    color: var(--color-text);
}  

.size_icon_contact {

    color: var(--color-text) !important;
    font-size: 24px;
    margin-right: 5px;
}

.contact_socials_a {
    width: 100%;
    text-align: center;
    font-weight: 600;

    font-size: 18px;
    color: var(--color-text);

    display: inline-block;

	text-decoration: none;
    cursor: pointer;

    transition: all 0.5s ease-in-out;
}

.contact_socials_a:hover {
    color: var(--main-light-blue);
}

/*############################################################*/
/* Second Section - Form */

.margin_form {
    margin-top: 250px;
}

.title_form > h2 {
    color: var(--color-text);
    font-size: 30px;
    margin: 0;
}

#form {
    background: 
    linear-gradient(to top, var(--main-light-blue), var(--main-dark-blue));

    -webkit-box-shadow: 0px 0px 50px -10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 500px -10px var(--main-light-blue);
    box-shadow: 0px 0px 50px -10px var(--main-light-blue);


    width: 100%;
    /* border: 5px solid var(--main-light-blue); */
    border-radius: 25px;

    transform: scale(0.90);
}

form {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;

    padding: 10px;
}

.input_div {
    width: 400px;

    display: flex;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
}

/* .input_div > input:focus {
    border: 3px solid var(--main-dark-blue);
} */

.input_div > label {

    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;

    margin-left: 5px;
    margin-bottom: 5px;
}

.input_div > label > span {
    font-size: 30px;
    font-weight: 900;
}

.input_div > input, textarea {
    padding: 15px 20px 15px 20px;

    color: var(--color-text);
    font-size: 18px;
    letter-spacing: 2pxx;

    background-color: var(--main-medium-blue);
    border-radius: 25px;
    border: 3px solid var(--main-light-blue);

    cursor: pointer;
}

/* .input_div > input, textarea:focus {
    border: 3px solid var(--main-dark-blue);
} */

#message {
    min-height: 200px;
    resize: none;
}

#send_email > input {

    height: 70px;
    font-weight: 750;
    letter-spacing: 2px;
    
    color: var(--color-text);
    background: 
    linear-gradient(to bottom, var(--main-light-blue), var(--main-dark-blue));

    transition: all .5s ease-in-out;
}

#send_email >input:hover {
    transform: scale(0.95);
    border: 3px solid var(--main-dark-blue);
}

@media screen and (min-width: 1000px) {
    #send_email, #write_message {
        min-width: 800px !important;
    }
}
